body{
    background:url("https://kit8.net/images/thumbnails/580/435/detailed/2/cinema@2x.png");
    padding-top: 25%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 25%;
    text-align: center;

}

h1{

    position: absolute;
    top: 5%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
form{
    text-align: center;
    position: absolute;
    top: 15%;
    left: 33%;
    margin-left: -50px;
}

